

 .root {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
  
 }
 
 .container {
   margin: 0 auto;
   padding: 7px ;
 }
 
 .spacer {
   display: inline-block;
   padding: 0 5px;
 }
 